* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    padding: 0;
    margin: 0;
}

.Main {
    width: 100dvw;
    text-align: center;
    /* height: 100dvh; */
    display: flex;
    justify-content: center;
}
.title{
    margin-top: 10dvh;
    margin-bottom: 2dvh;
    font-size: 8dvw;
    padding: auto;
    display: flex;
    position: absolute;
}

.image{
    width: 100dvw;
    /* top: 35dvh; */
    height: 100dvh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.imagesrc{
    width: 50dvw;
    height: 25dvh;
}

.btn {
    border: 0;
    border-radius: 5px;
    /* height: 10dvh; */
    /* width: 40dvw; */
    font-size: 8dvw;
    font-weight: 500;
    cursor: pointer;
    color: var(--tg-theme-button-text-color);
    background: var(--tg-theme-button-color);
    display: flex;
    position: absolute;
    bottom: 10dvh;

}

form {
    display: none;
    text-align: center;
    width: 80dvw;
    padding-top: 5dvh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

input {
    outline: none;
    border-radius: 5px;
    border: 2px solid #535353;
    padding: 15px 10px;
    margin: 10px 0 0;
    background: var(--tg-theme-section-separator-color);
    color: var(--tg-theme-text-color);
    transition: all .2s;
    width: 50%;
    height: 10%;
}

input:focus {
    border-color: var(--tg-theme-secondary-bg-color)
}
